.gradle/
build/
app/build/

local.properties

*.log
.DS_Store
Thumbs.db

.idea/
*.iml
captures/
.externalNativeBuild/
.cxx/
*.aab
*.apk
output-metadata.json

*.jks
*.keystore

# firebase
google-services.json

*.hprof
